.social__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    @media screen and (min-width: $desktop) {
        gap: 25px;
    }
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__icon {
    fill: var(--secondary-text-color);


    transition: fill 250ms var(--timing-function);

    .social__link:hover &,
    .social__link:focus & {
        fill: var(--accent-text-color);
    }
}

.social__team {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    stroke: var(--accent-text-color);
}