.contact {
    display: block;
    background-color: var(--secondary-background-color);

    @media screen and (min-width: $tablet) {
        display: flex;
    }
}

.contact__wrapper {
    padding: 30px;

    @media screen and (min-width: $desktop) {
        padding: 80px 30px;
    }
}