.contact {
    display: block;
    background-color: var(--secondary-background-color);

    @media screen and (min-width: $tablet) {
        display: flex;
    }
}

.contact__wrapper {
    padding: 30px;

    @media screen and (min-width: $tablet) {
        width: 384px;
    }

    @media screen and (min-width: $desktop) {
        width: 680px;
        padding: 80px 30px;
    }
}

.contact__title {
    margin-bottom: 35px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 45px;

    width: 100%;
}

.contact__input {
    padding: 10px;
    font-size: 16px;
    line-height: 1.44;

    color: inherit;
    background-color: var(--secondary-text-color);
    border: 1px solid var(--border-color);

    @media screen and (min-width: $tablet) {
        font-size: 18px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 25px;
        line-height: 1.57;
    }
}

.contact__input::placeholder {
    font-size: 16px;
    line-height: 1.44;
    color: var(--placeholder-text-color);

    @media screen and (min-width: $tablet) {
        font-size: 18px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 25px;
        line-height: 1.57;
    }
}

.contact__btn {
    padding: 10px 0;
    border: 1px solid;
    border-color: var(--logo-color);
    border-radius: 5px;

    color: var(--secondary-text-color);
    background-color: var(--logo-color);

    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--logo-color);
        background-color: var(--secondary-text-color);

    }
}