.header {
    position: sticky;
    z-index: 1;
    top: 0;

    padding: 5px;

    height: 100px;

    color: var(--secondary-text-color);
    background-color: var(--header-background-color);

    @media screen and (min-width: $tablet) {
        padding: 20px 40px;
    }

    @media screen and (min-width: $desktop) {
        padding: 20px 50px;
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 6px;

    margin-bottom: 12px;

    font-size: 32px;
    line-height: 1.31;
    color: inherit;

    @media screen and (min-width: $tablet) {
        font-size: 36px;
        line-height: 1.17;
    }
}

.logo__icon {
    fill: var(--logo-color);
}

.logo__accents {
    color: var(--logo-color);
}

.nav {
    display: block;

    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav__list {
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: $tablet) {
        gap: 20px;
    }

    @media screen and (min-width: $desktop) {
        gap: 40px;
    }
}

.nav__link {
    padding: 15px 0;

    line-height: 1.61;
    color: inherit;

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--logo-color);
    }

    @media screen and (min-width: $tablet) {
        font-size: 18px;
        line-height: 1.57;
    }
}