.team {
    display: block;
    padding: 50px 20px;

    background-color: var(--primary-background-color);

    @media screen and (min-width: $tablet) {
        padding: 60px 30px;
    }
}

.team__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: $tablet) {
        flex-direction: row;
    }
}

.team__text {
    margin-bottom: 15px;
}

.team__title {
    margin-bottom: 35px;
}

.team__descr {
    margin-bottom: 35px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 50px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 45px;
    }
}

.team__thumb {
    position: relative;
    margin-bottom: 14px;
}

.card__subtitle {
    margin-bottom: 11px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 12px;
    }
}

.card__text {
    text-align: center;
    text-transform: capitalize;
}